# Local settings folder in Visual Studio Code
.vs/

# Checkpoints for notebooks
*.ipynb_checkpoints/

# Temp python files
*__pycache__

# Image files
*.svg
*.jpg
*.tif
*.gif
*.ppt
*.pptx